# Disable PHP errors from showing in production
php_flag display_errors off
php_flag log_errors on
php_value error_log /tmp/php_errors.log

# Set output buffering
php_value output_buffering On

# Set timezone
php_value date.timezone "Asia/Kolkata"
